@import url('style.css');

header {
    padding: 10px 0;
    background-color: rgb(62, 105, 180);
    color: white;

}

header h1 {
    text-decoration: overline;
    margin-left: 3%;
}

header nav {
    margin-right: 3%;
}

header a {
    color: white;
    font-size: 110%;
    transition: .5s;
}

header a:hover {
    text-decoration: overline;
}

header button {
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 25px;
}

main {
    margin: 0 3%;
}

main h2 {
    margin: 15px 0;
    font-size: 160%;
}

main section.new {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid black;
    background-color: #ebeae8;
}

section p.opening {
    font-size: 140%;
}

section p.text {
    font-size: 120%;
    margin-top: 5px;
}

section p.user {
    font-size: 100%;
    margin-top: 30px;
    text-decoration: overline;
}